header {
  margin: 33px;
}

.petProject {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.curRates {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #4e95c9;
}
