
.container {
  position: absolute;
  width: 394px;
  height: 348px;
  left: 605px;
  top: 258px;
  background: #f4f5f7;
  border-radius: 15px;
}

.header {
  padding: 22px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  padding-bottom: 10px;
}

.date {
  position: absolute;
  left: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;

}
.rate {
  position: absolute;
  left: 150px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;

}
.change {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;
  position: absolute;
  left: 300px;
}

.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

img {
  z-index: 2;
  position: absolute;
  left: 364px;
}


.blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 394px;
  padding: 0px 25px;
}

.whiteblock {
  margin-left: 10px;
  width: 374px;
  height: 45px;
  background: #ffffff;
  border-radius: 6px;
}
