.container {
    position: absolute;
    width: 394px;
    height: 348px;
    left: 605px;
    top: 258px;
    background: #f4f5f7;
    border-radius: 15px;
  }
  
  .date,
  .rate,
  .change {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    z-index: 2;
  }
  
.text {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  
  .blocks {
    top: 110px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    width: 394px;
  }
  

  