  .converter {
    position: absolute;
    width: 394px;
    height: 216px;
    left: 605px;
    top: 624px;
    background-color: #f4f5f7;
    border-radius: 15px;
  }
  
  .converter__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 26px;
    margin-left: 21px;
    margin-bottom: 24px;
  }
  
  .converter__dropdown-container-1 {
    position: absolute;
    width: 360px;
    height: 40px;
    top: 77px;
    left: 21px;
  }
  .converter__dropdown-container-2 {
    position: absolute;
    top: 131px;
    left: 21px;
    width: 360px;
    height: 40px;
  }
  
  .converter__dropdown {
    background: #d9dfea;
    border-radius: 7px 0px 0px 7px;
    padding-left: 20px;
    width: 90px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .converter__input {
    position: absolute;
    background: #ffffff;
    border: none;
    width: 263px;
    height: 40px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.07);
    border-radius: 0px 7px 7px 0px;
  }